@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #FAFAF9;
  font-family: 'Sora', sans-serif;
  font-size: 20px;
}